<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="my-appender" class="ch.qos.logback.core.FileAppender">
		<file>F:/log/cLog.log</file>
		<encoder>
			<pattern>%d %level [%thread] %logger{10}.%M \(%file:%line\) %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>UTF-8</encoding>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%white(%d) %level %green([%thread]) %logger{10}.%M \(%file:%line\) %msg%n</pattern>
		</encoder>
	</appender>

	<!--<logger name="test" level="DEBUG">
		<appender-ref ref="cosole" />
		<appender-ref ref="my-appender" />
	</logger>-->
	<root level="DEBUG">
		<appender-ref ref="console" />
		<appender-ref ref="my-appender" />
	</root>

</configuration>