<?xml version="1.0"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>[%thread] \(%file:%line\) %msg%n</pattern>
        <!--            <charset>UTF-8</charset>-->
        <!-- 解决terminal中java命令运行乱码 -->
<!--
        <charset>GBK</charset>
-->
    </encoder>
</appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>